<div class="admin">
  <div class="d-flex sidebar-parent">
    <app-sidebar></app-sidebar>
  </div>
  <div class="right mt-3">
    <div class="col">
      <div class="upper d-flex justify-content-between">
        <h3>Posts</h3>
        <button class="btn btn-primary" routerLink="/admin/posts/create-post">
          Add Post
        </button>
      </div>
      <hr />
      <div class="posts">
        <div class="posts-list" *ngIf="!isLoading">
          <strong *ngIf="posts.length == 0">No posts</strong>
          <!-- <app-page-item
            *ngFor="let post of posts"
            [post]="post"
          ></app-page-item> -->
        </div>
        <div
          class="loader d-flex justify-content-center mt-3"
          *ngIf="isLoading"
        >
          <app-spinner></app-spinner>
        </div>
      </div>
    </div>
  </div>
</div>
