$primary: #0d6efd;

.images-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, 100px);
  grid-gap: 0.5em;
  .image-item {
    width: 100px;
    height: 100px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    cursor: pointer;
    border-width: 3px !important;

    &.checked {
      border-color: $primary !important;
    }
  }
}
