<div class="admin">
  <div class="d-flex sidebar-parent">
    <app-sidebar></app-sidebar>
  </div>
  <div class="right mt-3">
    <div class="col">
      <div class="upper d-flex justify-content-between">
        <h3 class="pages-title" routerLink="/admin/pages/">Media</h3>
        <form>
          <div>
            <input
              (change)="onChange($event)"
              class="btn btn-primary"
              type="file"
              id="formFile"
            />
          </div>
        </form>
      </div>
      <hr />
      <div class="media">
        <app-images></app-images>
      </div>
    </div>
  </div>
</div>
