/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import "~bootstrap/scss/bootstrap";

.admin {
  min-height: 100vh;
  display: flex;

  .sidebar-parent {
    min-width: 280px;
    max-width: 280px;
    width: 100%;

    app-sidebar {
      width: 100%;
    }
  }

  .right {
    width: 100%;
    max-width: 100%;
  }
}
